
.card{
display: flex;
 gap: 1rem;
 width: 100%;
 margin: 1px 1px;
 padding: 5px 5px;
 
}

.image img{
    height: auto;
    width: 50px;
}
p, h4{
    margin: 0 0;
}
p{
    color: gray;
    font-size: 15px;
}
.card:hover{
    transform: 1s;
    border: 1px solid gray; 
}